<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginConf</servlet-name>
        <servlet-class>customer.LoginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegConf</servlet-name>
        <servlet-class>customer.RegConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnect</servlet-name>
        <servlet-class>DB.DBConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCust</servlet-name>
        <servlet-class>customer.DeleteCust</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCust</servlet-name>
        <servlet-class>customer.updateCust</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginConf</servlet-name>
        <url-pattern>/LoginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegConf</servlet-name>
        <url-pattern>/RegConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnect</servlet-name>
        <url-pattern>/DBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCust</servlet-name>
        <url-pattern>/DeleteCust</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCust</servlet-name>
        <url-pattern>/updateCust</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
